<h1>Bu asosiy sahifa </h1>
<hr>
<p>Assalomu alaykum, Xush kelibsiz!!!</p>
<hr>
<a href="/mualliflar">Mualliflar</a><br>
<a href="/kitoblar">Kitoblar</a><br>
<a href="/record">Rekordlar</a><br>
<a href="/kutubxona">Kutubxonachilar</a><br>
<a href="/tirik_muallif"> Tirik Mualliflar</a><br>
<a href="/top3_sahifa">Top 3 eng sahifasi ko'p kitob</a><br>
<a href="/top3_muallif">Top 3 eng ko'p kitob yozgan Mualliflar</a><br>
<a href="/record_sanasi">Eng So'nggi Rekordlar</a><br>
<a href="/tiriklar_kitobi">Hozirda tirik muallif kitoblar</a><br>
<a href="/tarixiy">Tarixiy janridagi kitoblar</a><br>
<a href="/eng_katta">Eng yoshi katta mualliflar</a>
<a href="/10tadan_kam_kitobli">10 ta ham kitob yozolmaganlar</a>